{mod_cond, all}.
{sub_dirs, [
    "rel",
    "src"
]}.
{lib_dirs,
    [
        "deps",
        "apps"
    ]
}.
{deps, [
    {lager, "3.9.1", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.1"}}},
    {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {branch, "master"}}},
    {cowboy, "1.0.4", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
    {raven, ".*", {git, "https://github.com/rschlaikjer/raven-erlang.git", {branch, "master"}}},
    {estatsd, ".*", {git, "https://github.com/RJ/estatsd.git", {branch, "master"}}},
    {goldrush, ".*", {git, "https://github.com/DeadZen/goldrush.git", {tag,"0.1.8"}}}
]}.
{relx, [
    {release, {aflame,
    "20160514.051731" %% relflow-release-version-marker
        },
        [sasl, aflame]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true}]}.
{profiles, [
    {docker, [
        {relx, [
            {dev_mode, false},
            {overlay, [
                {template, "files/app.docker.config", "releases/\{\{rel_vsn\}\}/sys.config"}
            ]},
            {include_erts, true}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {overlay, [
                {template, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"}
            ]},
            {include_erts, true}
        ]}
    ]}
]}.
{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {i, "./_build/default/plugins/gpb/include"}
]}.

